{
	// "trailingComma": "es5",
	// "singleQuote": true,
	"tabWidth": 2,
	// "semi": false,
	"useTabs": true,

	"semi": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"trailingComma": "all",
	"printWidth": 120,
	"endOfLine": "auto",

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
